{% extends 'base/layout.html' %}
{% load helpers form_helpers %}

{% block title %}
  {% if object.pk %}Edit SNMP Credential: {{ object.name }}{% else %}Add SNMP Credential{% endif %}
{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'plugins:netbox_snmp_sync:credential_list' %}">SNMP Credentials</a></li>
{% if object.pk %}
<li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
<li class="breadcrumb-item active">Edit</li>
{% else %}
<li class="breadcrumb-item active">Add</li>
{% endif %}
{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Basic Settings</h5>
        <div class="card-body">
          {% render_field form.name %}
          {% render_field form.priority %}
          {% render_field form.version %}
        </div>
      </div>

      <div class="card mt-3">
        <h5 class="card-header">SNMPv2c</h5>
        <div class="card-body">
          {% render_field form.community %}
        </div>
      </div>

      <div class="card mt-3">
        <h5 class="card-header">SNMPv3</h5>
        <div class="card-body">
          {% render_field form.username %}
          {% render_field form.auth_protocol %}
          {% render_field form.auth_key %}
          {% render_field form.priv_protocol %}
          {% render_field form.priv_key %}
        </div>
      </div>

      <div class="mt-3">
        <button type="submit" class="btn btn-primary">
          <i class="mdi mdi-content-save"></i> Save
        </button>
        <a href="{% if object.pk %}{{ object.get_absolute_url }}{% else %}{% url 'plugins:netbox_snmp_sync:credential_list' %}{% endif %}"
           class="btn btn-outline-secondary ms-2">Cancel</a>
      </div>
    </div>
  </div>
</form>
{% endblock %}
