{% extends 'generic/object_edit.html' %}
{% load helpers %}

{% block title %}
  {% if object.pk %}Edit SNMP Credential: {{ object.name }}{% else %}Add SNMP Credential{% endif %}
{% endblock %}

{% block form %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">Basic Settings</h5>
      <div class="card-body">
        {% render_field form.name %}
        {% render_field form.priority %}
        {% render_field form.version %}
      </div>
    </div>

    <div class="card mt-3">
      <h5 class="card-header">SNMPv2c</h5>
      <div class="card-body">
        {% render_field form.community %}
      </div>
    </div>

    <div class="card mt-3">
      <h5 class="card-header">SNMPv3</h5>
      <div class="card-body">
        {% render_field form.username %}
        {% render_field form.auth_protocol %}
        {% render_field form.auth_key %}
        {% render_field form.priv_protocol %}
        {% render_field form.priv_key %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
